<% title 'Geo:Territory:'+@territory.name %>
<% css 'geographic_locations/show' %>

<div class="geographic-locations-show">
  <%= render :partial => 'breadcrumb', :locals => {:node => @territory} %>
  <h2><%= @territory.name %></h2>
  <% if can? :create, Chapter %>
    <%= form_for Chapter.new do |f| %>
      <%= f.hidden_field :geographic_territory_id, :value => @territory.id %>
      <%= f.text_field :name %>
      <%= f.select :type, Chapter::TYPES, :prompt => true %>
      <%= f.submit "Create Chapter" %>
    <% end %>
  <% end %>
  <%= render :partial => '/chapters/chapter', :collection => @territory.chapters %>
</div>
