<% title @location.name %>
<% page_class 'two-column' %>

<%
sidebar_location_title = ''
sidebar_location_elements = []
sidebar_location_path = ''
current_continent = nil
if @location.is_continent?
  sidebar_location_title = "Countries"
  sidebar_location_elements = @location.children;
  sidebar_location_path = "geo_path"
  current_continent = @location
elsif @location.is_country?
  sidebar_location_title = "Territories"
  sidebar_location_elements = @location.children;
  sidebar_location_path = "geo_path"
  current_continent = @location.parent
elsif @location.is_territory?
  sidebar_location_title = "Chapters"
  sidebar_location_elements = @location.chapters;
  sidebar_location_path = "chapter_path"
  current_continent = @location.parent.parent
end
%>

<%= content_for :page_head do %>
  <h1>Geography</h1>
  <ul class="button-bar">
    <% GeographicLocation.continents.each do |continent| %>
      <li>
        <% a_class = (current_continent == continent) ? 'current' : '' %>
        <%= link_to continent.name, geo_path(continent), :class => a_class %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= content_for :sidebar do %>
  <section>
    <h1><%= sidebar_location_title %></h1>
    <div class="content">
      <ul>
        <% sidebar_location_elements.each do |location| %>
          <li><%= link_to location.name, send(sidebar_location_path, location) %></li>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
