<% title @location.name %>
<% page_class 'two-column' %>

<%
if @location.is_continent?
  current_continent = @location
elsif @location.is_country?
  current_continent = @location.parent
elsif @location.is_territory?
  current_continent = @location.parent.parent
end
%>

<%= content_for :page_head do %>
  <h1>Geography</h1>
  <ul class="button-bar">
    <% GeographicLocation.continents.each do |continent| %>
      <li>
        <% a_class = (current_continent == continent) ? 'current' : '' %>
        <%= link_to continent.name, geo_path(continent), :class => a_class %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= content_for :sidebar do %>
  <% if @location.is_continent? %>
    <%= full_location_section('Countries', @location.children) %>
  <% elsif @location.is_country? %>
    <%= collapsed_location_section('Countries', @location.name, geo_path(@location.parent)) %>
    <%= full_location_section('Territories', @location.children) %>
  <% else %>
    <%= collapsed_location_section('Countries', link_to(@location.parent.name, geo_path(@location.parent)), geo_path(@location.parent.parent)) %>
    <%= collapsed_location_section('Territories', @location.name, geo_path(@location.parent)) %>
  <% end %>
<% end %>

<div>In a galaxy far far away there is a website just like this one, only it has a map in place of this text... someday, we will be cool like them.</div>
