    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :alias %><br />
      <%= f.text_field :alias %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
  
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    
    <div class="field">
      <%= f.label :country %><br />
      <%= collection_select(:chapter, :country_id, Country.all, :id, :name, {:selected => member.chapter.country.first.id}) %>
    </div>

    <div id="chapter_field" class="field">
      <%= f.label :chapter %><br />
      <%= f.collection_select(:chapter_id, member.chapter.country.first.chapters, :id, :region, :prompt => true) %>
    </div>

    <div id="field">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password %>
    </div>
    
    <div class="actions">
      <%= f.submit submit %>
    </div>
