    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :alias %><br />
      <%= f.text_field :alias %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
  
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= f.label :role %><br />
      <%= f.select :roles, User.valid_roles, :prompt => true, :selected => user.roles.first.to_s %>
    </div>

    <div class="actions">
      <%= f.submit submit %>
    </div>
