    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :alias %>
      <%= f.text_field :alias %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="field">
      <%= f.label :role %>
      <%= f.select :roles, User.valid_roles, :prompt => true, :selected => user.roles.first.to_s %>
    </div>

    <div class="actions">
      <%= f.submit submit %>
    </div>
