  <%= form_for chapter do |f| %>
    <%= render :partial => '/shared/error_messages', :locals => {:object => chapter} %>
    <div class="field">
      <%= f.label :region %>
      <%= f.text_field :region %>
    </div>
    <div class="field">
      <%= f.label :country %>
      <% if chapter.new_record? %>
        <%= collection_select(:chapter, :country, Country.all, :id, :name, {:prompt => true}) %>
      <% else %>
        <%= collection_select(:chapter, :country, Country.all, :id, :name, {:prompt => true, :selected => chapter.country.id}) %>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit submit, :class => "large button" %>
    </div>
  <% end %>
