<%= form_for [@chapter, external_url] do |f| %>
  <%= render :partial => '/shared/error_messages', :locals => {:object => external_url} %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :sort_order %><br />
    <%= f.text_field :sort_order %>
  </div>

  <div class="actions">
    <%= f.submit submit %>
  </div>
<% end %>
