    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :alias %>
      <%= f.text_field :alias %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    
    <div class="field">
      <%= f.label :country %>
      <%= f.collection_select(:country_id, Country.all, :id, :name, :prompt => "Select a Country") %>
    </div>

    <div id="chapter_field" class="field">
      <%= f.label :chapter %>
      <%= f.collection_select(:chapter_id, Chapter.all, :id, :region, :prompt => "Select a Chapter") %>
    </div>
    
    <div class="actions">
      <%= f.submit submit %>
    </div>
