  <%= form_for chapter do |f| %>
    <%= render :partial => '/shared/error_messages', :locals => {:object => chapter} %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.select :category, Chapter::CATEGORIES.map {|c| [c.humanize,c]}  %>
    </div>
    <%= render :partial => '/shared/forms/geo_location_select', :locals => {:f => f} %>
    <div class="actions">
      <%= f.submit submit %>
    </div>
  <% end %>
