<%= form_for @coordinator do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :members %>
    <%= f.collection_select :user_id, User.all, :id, :name_with_username %>
  </div>

  <div class="field">
    <%= f.label :chapters %>
    <%= f.collection_select :chapter_id, Chapter.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
