<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<center><%= will_paginate @users %></center>
<table>
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "username" %></th>
    <th>Chapter</th>
    <th>Location</th>
    <% if can? :update, User %>
      <th>Edit</th>
    <% end %>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%= user.username %></td>
      <td><%= user.chapter.nil? ? "No Chapter" : user.chapter.name %></td>
      <td><%= user.location.self_and_parent_name %></td>
      <% if can? :update, User %>
        <td><%= link_to "Edit", edit_user_path(user) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<center><%= will_paginate @users %></center>
