<% title 'Update User' %>
<% css 'users/edit' %>
<% js 'dynamic_chapters' %>

<div class="user-edit">
  <h2><%= @user.name %>(<%= @user.username %>)</h2>
  <%= form_for @user do |f| %>
    <%= render :partial => '/shared/error_messages', :locals => {:object => @user} %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <%= render :partial => '/shared/forms/country_select', :locals => {:f => f} %>
    <div class="field">
      <%= f.label :roles %>
      <%= f.select :roles, User.valid_roles, :prompt => true %>
    </div>
    <div class="field">
      <%= f.submit "Edit Profile" %>
    </div>
  <% end %>

  <%= link_to :Back, :back %>
</div>
