<% title 'Update Profile' %>
<% page_class 'form' %>

<%= content_for :page_head, content_tag(:h1, "Update Profile") %>
<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
