<% title 'Update User' %>
<% css 'users/edit' %>
<% js 'geo_location' %>

<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <% render :partial => '/shared/forms/geo_location_select', :locals => {:f => f, :geo => @user.geographic_location} %>
  <div class="field">
    <%= f.submit "Save", :class => 'large button' %>
  </div>
<% end %>

  <%= link_to :Back, :back %>
