<% title (current_user.try(:admin?) ? 'Create new member' : 'Sign Up') %>
<% css 'users/new' %>
<% js 'geo_location' %>

<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= render :partial => '/shared/forms/geo_location_select', :locals => {:f => f, :geo => nil} %>

  <div class="actions">
    <% text = (current_user.try(:admin?) ? 'Create' : 'Sign Up') %>
    <%= f.submit text, :class => 'large button' %>
  </div>
<% end %>
