<% title @user.username, false %>
<% css 'users/show' %>

<div class="pagehead userpage">
  <h1>
    <%= @user.username %>
    <em>(<%= @user.name %>)</em>
  </h1>
  <ul class="actions">
    <% if user_signed_in? and current_user == @user %>
      <li class="text">This is you!</li>
      <li>
        <%= link_to content_tag(:span, "Edit Your Profile"), edit_user_path(current_user) %>
      </li>
    <% end %>
  </ul>
  <div class="rule"></div>
</div>

<div class="profile-box grey-box-shadow">
  <h3><%= @user.name %> (<%= @user.username %>)</h3>
</div>

<div class="profile-box grey-box-shadow">
  <% if @user.chapter.nil? %>
    <% unless @user.geographic_location.nil? %>
      <%= link_to "Find a chapter in your area.", geo_path(@user.geographic_location.id) %>
    <% else %>
      <%= link_to "Join a chapter", chapters_path %>
    <% end %>
  <% else %>
    <h3><%= @user.chapter.name %></h3>
    <%= @user.geographic_location.self_and_parent_name %>
  <% end %>
</div>
<!--
<div class="user-show grid_24">
  
  <div class="user grid_10 alpha">
    <h2><%= @user.name %></h2>
    <h4><%= link_to :Edit, edit_user_path(@user) %></h4>
    <span class="info">
      <%= @user.geographic_location %><br />
      <%= @user.username %><br />
    </span>
  </div>
  
  <div class="chapter grid_10 omega">
    <% unless @user.chapter.nil? %>
      <h2><%= @chapter.name %></h2>
      <span class="info">
        <%= @country.name %>
        <%= pluralize @chapter.users.count, 'User' %>
      </span>
    <% else %>
      <h2><%= link_to "Find a chapter in your area", chapters_path %></h2>
    <% end %>
  </div>
</div>
-->
