<% title 'Member Profile' %>
<% css 'users/show' %>

<div class="user-show grid_24">
  
  <% if current_user == @user and (@user.alias.blank? or @user.name.blank?) %>
    <%= form_for current_user, :url => registration_path(current_user), :html => {:method => :put} do |f| %>
      <% if @user.name.blank? %>
        <div class="field">
          <%= f.label 'Name' %>
          <%= f.text_field :name %>
        </div>
      <% end %>
      <% if @user.alias.blank? %>
        <div class="field">
          <%= f.label 'Alias' %>
          <%= f.text_field :alias %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Update Info" %>
      </div>
    <% end %>
  <% end %>

  <div class="user grid_10 alpha">
    <h2><%= @user.name %></h2>
    <h4><%= link_to :Edit, edit_user_path(@user) %></h4>
    <span class="info">
      <%= @user.alias %><br />
    </span>
  </div>
  
  <div class="chapter grid_10 omega">
    <% unless @user.chapter.nil? %>
      <h2><%= @chapter.name %></h2>
      <span class="info">
        <%= @country.name %>
        <%= pluralize @chapter.users_count, 'User' %>
      </span>
      <p><%= @chapter.description %></p>
    <% else %>
      Join a chapter!
    <% end %>
  </div>
</div>
