<% title @user.username, false %>
<% css 'users/show' %>
<% page_head_class 'userpage' %>

<%= content_for :page_head do %>
  <h1>
    <%= @user.username %>
    <em>(<%= @user.name %>)</em>
  </h1>
  <ul class="actions">
    <% if user_signed_in? and current_user == @user %>
      <li class="text">This is you!</li>
      <li>
        <%= link_to content_tag(:span, "Edit Your Profile"), edit_user_path(current_user) %>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="profile-box grey-box-shadow">
  <% if @user.chapter.nil? %>
    <% unless @user.geographic_location.nil? %>
      <%= link_to "Find a chapter in your area.", geo_path(@user.geographic_location.id) %>
    <% else %>
      <%= link_to "Join a chapter", chapters_path %>
    <% end %>
  <% else %>
    <h3><%= @user.chapter.name %></h3>
    <%= @user.geographic_location.self_and_parent_name %>
  <% end %>
</div>
