<% title @user.username, false %>
<% page_class 'two-column' %>
<% page_head_class 'userpage' %>

<%= content_for :page_head do %>
  <h1 class="avatared">
    <span class="tooltipped">
      <a href="http://gravatar.com/emails/">
        <%= gravatar_for @user, :gravatar => {:size => 48} %>
      </a>
    </span>
    <%= @user.username %>
    <em>(<%= @user.name %>)</em>
  </h1>
  <ul class="actions">
    <% if user_signed_in? and current_user == @user %>
      <li class="text">This is you!</li>
      <li><%= link_to content_tag(:span, "Edit Your Profile"), edit_user_path(current_user) %></li>
      <% if @user.chapter.nil? %>
        <li>or <%= link_to content_tag(:span, "Join a Chapter"), chapters_path %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= content_for :sidebar do %>
  <section>
    <h1>Todo</h1>
  </section>
<% end %>
