<% if user_signed_in? && current_user.admin? %>
  <a class="manager" href="#">Manager</a>
  <div id="control-container">
    <% if current_user.admin? %>
      <div class="panel admin">
        <div>
          <ul class="button-bar">
            <li><%= link_to 'Create Member', new_user_path %></li>
            <li><%= link_to 'Create Coordinator', new_coordinator_path %></li>
            <li><%= link_to 'Site Options', site_options_path %></li>
            <li><%= link_to 'View Feedback', feedback_requests_path %></li>
            <%= yield(:admin_control_panel) %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="header">
  <div class="auth">
  <% if user_signed_in? %>
    <span class="logged-in-as">You are signed in as <%= link_to current_user.name, user_path(current_user) %></span>
    <span class="account">
      <%= link_to "My Profile", user_path(current_user) %> |
      <%= link_to "Sign Out", destroy_user_session_path %>
    </span>
  <% else %>
    <span class="account">
      <%= link_to "Sign In", new_user_session_path %> |
      <%= link_to "Register", new_user_path %>
    </span>
  <% end %>
  </div>
  <div class="nav">
    <a href="/"><span class="logo"><em>ZM</em>Chapters</span></a>
    <ul class="main">
      <li><%= link_to "Chapters", chapters_path %></li>
      <li><%= link_to "Members", users_path %></li>
    </ul>
  </div>
</div>
