<% if current_user %>
<div id="control-container">
  <div class="panel user">
    <div>
      <ul class="button-bar">
        <li><%= link_to 'Profile', user_path(current_user) %></li>
      </ul>
      <%= yield(:user_control_panel) %>
    </div>
  </div>
  <% if current_user.admin? %>
    <div class="panel admin">
    <div>
      <ul class="button-bar">
        <li><%= link_to 'Create Member', new_user_path %></li>
        <li><%= link_to 'Create Coordinator', new_coordinator_path %></li>
        <li><%= link_to 'Site Options', site_options_path %></li>
        <li><%= link_to 'View Feedback', feedback_requests_path %></li>
        <%= yield(:admin_control_panel) %>
      </ul>
    </div>
    </div>
  <% end %>
</div>
<% end %>

<div id="nav-container">
  <ul id="nav" class="container_24">
    <ul id="control-nav" class="auth">
      <% if user_signed_in? %>
        <a href="#" class="user">User</a>
        <% if current_user.admin? %>
          <a href="#" class="admin">Manage</a>
        <% end %>
        <%= link_to "Sign Out", destroy_user_session_path %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
        <% if can? :create, User %>
          <%= link_to 'Sign Up', new_user_path %>
        <% end %>
      <% end %>
    </ul>
    <li class="first"><%= link_to 'Home', root_path, :class => 'home' %></li>
    <li>
      <%= link_to 'Chapters', chapters_path %>
      <ul class="submenu">
        <li><a href="#">Meetings</a></li>
        <li><a href="#">Coordinators</a></li>
      </ul>
    </li>
    <li><%= link_to 'Members', users_path %></li>
    <li><%= link_to 'Geography', geo_index_path %></li>
    <li><%= link_to 'Protocols', protocols_path %></li>
    <li class="last">
      <a href="#">Resources</a>
      <ul class="submenu">
        <li><a href="#">Slideshows</a></li>
        <li><a href="#">Tutorials</a></li>
      </ul>
    </li>
  </ul>
</div><!-- end navigation -->
