<%= form_for @event do |f| %>
  <%= f.error_messages %>
  <% unless @plannable.nil? %>
    <%= f.hidden_field :plannable_type, :value => @plannable.class.name %>
    <%= f.hidden_field :plannable_id, :value => @plannable.id %>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :starts_at %>
    <%= f.text_field :starts_at %>
  </div>
  <div class="field">
    <%= f.label :ends_at %>
    <%= f.text_field :ends_at %>
  </div>
  <div class="field text-area">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
