<% title "Edit #{@page.title}" %>
<% js 'elrte.min' %>
<% js 'editor' %>

<div class="<%= @page.uri %>">
  <%= form_for @page, :url => protocols_path do |f| %>
    <%= f.error_messages %>
    <center>
    <div class="page-name">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="page-content">
      <%= f.text_area :content, :class => 'editor' %>
    </div>
    <div>
      <%= f.submit "Save", :class => "small button" %>
    </div>
    <center>
  <% end %>
</div>
