<% title "Edit #{@page.title}" %>
<% page_class 'form_with_editor' %>
<% css 'elrte.full', 'elrte-inner' %>
<% js 'elrte.min', 'editor' %>

<div class="<%= @page.uri %>">
  <%= form_for @page, :url => protocols_path do |f| %>
    <%= f.error_messages %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.text_area :content, :class => 'editor' %>
    </div>
    <div class="actions">
      <%= f.submit "Save" %>
    </div>
  <% end %>
</div>
