

<div class="log-in grid_12 push_6">
<h2>Sign in</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="field"><%= f.label :email %>
  <%= f.text_field :email %></div>

  <div class="field"><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="field rm"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Sign In" %>
    <div>
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
<% end %>

</div>
