<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<center><%= will_paginate @chapters %></center>
<table class="pretty grey-box-shadow">
  <tr>
    <th><%= sortable "name" %></th>
    <th>Location</th>
    <th>Members</th>
    <th>Coordinators</th>
  </tr>
  <% for chapter in @chapters %>
    <tr>
      <td><%= link_to chapter.name, chapter_path(chapter) %></td>
      <td><%= chapter.geographic_location.self_and_parent_name %></td>
      <td><%= chapter.users.count %></td>
      <td><%= chapter.coordinators.count %></td>
    </tr>
  <% end %>
</table>
<center><%= will_paginate @chapters %></center>
