
<% content_for :js do %>
  <script type="text/javascript">
    $(function() {
      $("select#category").change(function(event) {
        $("#chapter_category").val($("select#category :selected").text());
      });
      $("#show_text_field").click(function(event) {
        $("select#category").hide();
        $("#chapter_category").show();
        return false;
      });
    });
  </script>
<% end %>

<% if @location.need_coordinates? %>
  <%= content_for :js do %>
    <script type="text/javascript">
      function onMove(event) {
        $("#geo_lat").val(event.object.center.lat);
        $("#geo_lng").val(event.object.center.lon);
        $("#geo_zoom").val(event.object.zoom);
      }
    </script>
  <% end %>
  <%= render :partial => '/shared/map', :locals => {:geo => @location.parent, :events => true} %>
<% end %>

<%= form_for @chapter do |f| %>
  <%= hidden_field_tag :location_id, @location.id %>
  <% if @location.need_coordinates? %>
    <%= hidden_field :geo, :lat %>
    <%= hidden_field :geo, :lng %>
    <%= hidden_field :geo, :zoom %>
  <% end %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br />
    <%= @chapter.geographic_location.parent.self_and_parent_name %>
  </div>
  <div class="field select_text">
    <%= label_tag :category %>
    <%= select_tag :category, options_for_select(Chapter::CATEGORIES.collect{|c| [c.humanize,c]}) %>
    <%= f.text_field :category, :style => "display:none;" %>
  </div>
  <% if @location.need_coordinates? %>
    <div id="map"></div>
  <% end %>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
