<%= form_for @chapter do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
