
<%= form_for @chapter do |f| %>
  <%= hidden_field_tag :location_id, @location.id %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br />
    <%= @chapter.geographic_location.parent.self_and_parent_name %>
  </div>
  <div class="field select_text">
    <%= label_tag :category %>
    <%= f.select :category, options_for_select(Chapter::CATEGORIES.collect{|c|[c.humanize,c]}, @chapter.category) %>
  </div>

  <% if @location.need_coordinates? || params[:action] == 'edit' %>
    <%= content_for :js do %>
      <script type="text/javascript">
        function onMove(event) {
          $("#location_lat").val(event.object.center.lat);
          $("#location_lng").val(event.object.center.lon);
          $("#location_zoom").val(event.object.zoom);
        }
      </script>
    <% end %>
    <%= hidden_field :location, :lat %>
    <%= hidden_field :location, :lng %>
    <%= hidden_field :location, :zoom %>
    <%= render '/shared/map' %>
  <% end %>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
