<% title 'Edit Chapter' %>
<% page_class 'form_for_chapter' %>
<% page_head_class 'form' %>

<%= content_for :page_head do %>
  <h1>Edit <em>(<%= @chapter.name %>)</em> Chapter</h1>
<% end %>

<div class="left">
  <h1>Chapter</h1>
  <%= render 'form' %>
</div>
<div class="links right">
  <h1>Links</h1>
  <% if @links.any? %>
    <% @links.each do |link| %>
      <%= render :partial => 'link_form', :locals => {:link => link} %>
    <% end %>
  <% end %>
  <%= render :partial => 'link_form', :locals => {:link => Link.new} %>
</div>
<div class="coordinators right">
  <h1>Coordinators</h1>
  <% if @coordinators.any? %>
    <ul>
      <% @coordinators.each do |coordinator| %>
        <li>
          <%= coordinator.user.name_with_username %>
          <%= link_to "Remove", coordinator_path(coordinator), :confirm => "Are you sure?", :method => :delete %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <h4>Add Coordinator</h4>
  <%= form_for Coordinator.new do |f| %>
    <%= f.hidden_field :chapter_id, :value => @chapter.id %>
    <span class="inline-field">
      <%= f.collection_select :user_id, @chapter.users.reject(&:coordinator?).reject(&:admin), :id, :name_with_username, :prompt => true %>
    </span>
    <span class="actions">
      <%= f.submit "Add" %>
    </span>
  <% end %>
</div>
