<% title 'Chapters Index' %>
<% css 'chapters/index' %>

<div class="chapters-container">
  <div class="search  grid_14 push_5">
    <%= form_tag '/chapters', :method => 'get' do %>
      <%= label_tag 'Find a Chapter' %>
      <%= text_field_tag :search %>
    <% end %>
  </div>
  <% if @chapters.any? %>
    <div id="body-header" class="grid_24">
      <div class="global-stats">
        <h3>TZM Global</h3>
        <span class="info">
          <%= pluralize Country.all.count, 'Country' %><br />
          <%= pluralize Chapter.all.count, 'Chapter' %><br />
          <%= pluralize User.all.count, 'User' %>
        </span>
      </div>
      
      <div class="index">
        <ul>
          <% ('A'..'Z').each do |n| %>
            <li<%=raw ' class="current"' if n == params[:like] %>>
            <% if Country.where("name LIKE ?", "#{n}%").any? %>
              <%= link_to n, :controller => 'chapters', :like => n %>
            <% else %>
              <%=raw '<span>'+n+'</span>' %>
            <% end %>
            </li>
          </ul>
        </div>
      </div>
      
      <!--
      <% if params[:search].nil? %>
        <div class="countries">
          <% limit = Country.limit(80).count/5 + 1 %>
          <% (1..5).each do |n| %>
            <ul>
              <% Country.limit(limit).offset(limit*(n-1)).each do |country| %>
                <% name = truncate country.name, :length => 21 %>
                <li><%= link_to name, country_chapters_path(country.name) rescue ''  %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
      -->

      <%= will_paginate @chapters %>
      <%= render :partial => 'chapter', :collection => @chapters %>
      
      <%= will_paginate @chapters %>

    </div>
  <% else %>
    <span class="error grid_24">No chapters found!</span>
  <% end %>
</div>
