<div class="chapters-container">
  <div class="chapter-search-container">
    <label>Find a Chapter</label>
    <input name="search" />
  </div>
  <% if @chapters.any? %>
    <div class="global-chapter">
      <h3>TZM Global</h3>
      Countries: <%= Country.all.count %><br />
      Chapters: <%= Chapter.all.count %><br />
      Members: <%= Member.all.count %>
    </div>
    <div id="index-letters">
    <ul>
      <% ('A'..'Z').each do |n| %>
        <li><%= link_to n, :controller => 'chapters', :like => n %></li>
      <% end %>
    </ul>
    </div>
    <%= render :partial => 'chapter', :collection => @chapters %>
  <% else %>
    <span class="error">No chapters found!</span>
  <% end %>
</div>
