<% title 'Chapters in ' + @country.name %>
<% css 'chapters/index_country' %>

<div class="country-chapters-container">
  <% if @chapters.any? %>
    <div class="country">
      <h3><%= @country.name %></h3>
      <%= pluralize @chapters.count, 'Chapter' %><br />
      <%= pluralize @country.member_count, 'Member' %>
    </div>
    <%= will_paginate @chapters %>
    <%= render :partial => 'chapter', :collection => @chapters %>
    <div style="clear:both"></div>
    <%= will_paginate @chapters %>
  <% else %>
    <span class="error">No chapters found!</span>
  <% end %>
</div>
