<% title 'Chapters Index' %>
<% css 'chapters/index' %>

<div class="chapters-container">
  <div class="search">
    <%= form_tag '/chapters', :method => 'get' do %>
      <%= label_tag 'Find a Chapter' %>
      <%= text_field_tag :search %>
    <% end %>
  </div>
  <% if @chapters.any? %>
    <div class="global">
      <h3>TZM Global</h3>
      <span class="info">
        <%= pluralize Country.all.count, 'Country' %><br />
        <%= pluralize Chapter.all.count, 'Chapter' %><br />
        <%= pluralize Member.all.count, 'Member' %>
      </span>
    </div>
    
    <div class="index">
      <ul>
        <% ('A'..'Z').each do |n| %>
          <li<%=raw ' class="current"' if n == params[:like] %>>
          <% if Country.where("name LIKE ?", "#{n}%").any? %>
            <%= link_to n, :controller => 'chapters', :like => n %>
          <% else %>
            <%= n %>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    
    <% params[:search] = '1' %>
    <% if params[:search].nil? %>
      <div class="countries">
        <% limit = Country.limit(80).count/5 + 1 %>
        <% (1..5).each do |n| %>
          <ul>
            <% Country.limit(limit).offset(limit*(n-1)).each do |country| %>
              <% name = truncate country.name, :length => 21 %>
              <li><%= link_to name, country_chapters_path(country.name) rescue ''  %></li>
            <% end %>
          </ul>
        <% end %>
        <div style="clear:both"></div>
      </div>
    <% end %>

    <%= render :partial => 'chapter', :collection => @chapters %>
    <div style="clear:both"></div>

  <% else %>
    <span class="error">No chapters found!</span>
  <% end %>
</div>
