<% title 'Chapters' %>
<% css 'chapters/index' %>

<%= form_tag chapters_path, :method => :get, :id => "chapters_search" do %>
  <p>
    <%= text_field_tag :search, params[:search]  %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="chapters"><%= render 'chapters' %></div>
<% end %>

<%= content_for :debug_model, debug(@chapters) %>
<%= content_for :debug_controller, debug(controller) %>
<%= content_for :debug_other, login_as_admin_button %>
