<% title 'Chapters' %>
<% page_class 'one-column' %>

<%= content_for :page_head, content_tag(:h1, "ZM Chapter Index") %>

<% if params[:view] == 'map' %>
  <%= render :partial => '/shared/map', :locals => {:map => @map} %>
  <%= link_to "Close", chapters_path, :style => "" %>
  <div id="map"></div>
<% else %>
  <%= link_to "Show Map", map_chapters_path %>
<% end %>
<%= form_tag chapters_path, :method => :get, :id => "chapters_search" do %>
  <div id="search-container">
    <div>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag ">", :name => nil, :id => "search-button" %>
    </div>
  </div>
  <div id="chapters"><%= render 'chapters' %></div>
<% end %>
