<% title 'Chapters' %>
<% page_class 'one-column' %>

<%= content_for :admin_control_panel do %>
  <li><%= link_to "Create Country Chapter", select_country_for_new_chapters_path %></li>
<% end %>

<%= content_for :page_head, content_tag(:h1, "ZM Chapter Index") %>

<%= render '/shared/map' %>

<%= form_tag chapters_path, :method => :get, :id => "chapters_search" do %>
  <div id="search-container">
    <div>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag ">", :name => nil, :id => "search-button" %>
    </div>
  </div>
  <div id="chapters"><%= render 'chapters' %></div>
<% end %>
