<% title 'Chapter:'+@chapter.name %>
<% css 'chapters/show' %>

<div class="chapter-container grid_24">
  <div class="top">
    <div class="left">
      <h2><%= @chapter.name %></h2>
      <span class="info">
        <%= @chapter.geographic_location.name %><br />
        <%= pluralize @chapter.users.count, 'Member' %>
      </span>
    </div>
    <div class="right">
      <ul>
        <li>Hyperlinks</li>
      </ul>
    </div>
  </div>
  <div class="middle">
    <h5>News</h5>
    <%= render :partial => '/debug/news_small' %>
    <%= render :partial => '/debug/news_small' %>
  </div>
</div>
