<% title @chapter.name %>
<% page_class 'two-column' %>

<% if current_user %>
  <% if current_user.chapter.nil? %>
    <%= content_for :user_control_panel do %>
      <%= form_for current_user, :method => :put do |f| %>
        <%= hidden_field :chapter, :id %>
        <%= f.submit "Join this chapter" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= content_for :sidebar do %>
  <section id="chapter_coordinators" class="first">
    <h1>Coordinators</h1>
    <div class="content">
      <% if @chapter.coordinators.any? %>
        <ul>
          <% @chapter.coordinators.each do |coordinator| %>
            <li><%= coordinator.user.name_with_username %></li>
          <% end %>
        </ul>
      <% else %>
        <span class="empty">No Coordinators</span>
      <% end %>
    </div>
  </section>
  <section id="chapter_links" class="last">
    <h1>Links</h1>
    <div class="content">
      <ul>
        <li><a href="#">Website</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Events</a></li>
      </ul>
    </div>
  </section>
<% end %>
