<% title 'Chapter:'+@chapter.name, false %>
<% css 'chapters/show' %>

<% if current_user and current_user.chapter.nil? %>
<%= content_for :user_control_panel do %>
  <%= form_for current_user, :method => :put do |f| %>
    <%= hidden_field :chapter, :id %>
    <%= f.submit "Join this chapter" %>
  <% end %>
<% end %>
<% end %>

<div class="chapter-container grid_24">
  <% if current_user and current_user.chapter.nil? %>
    <%= form_for current_user, :method => :put do |f| %>
      <%= hidden_field :chapter, :id %>
      <%= f.submit "Join this chapter" %>
    <% end %>
  <% end %>
  <div class="top">
    <div class="left">
      <h2><%= @chapter.name %></h2>
      <span class="info">
        <%= @chapter.geographic_location.self_and_parent_name %><br />
        <%= pluralize @chapter.users.count, 'Member' %>
      </span>
    </div>
    <div class="right">
      <ul>
        <li>Hyperlinks</li>
      </ul>
    </div>
  </div>
  <div id="chapter_coordinators">
    <% if @chapter.coordinators.any? %>
      <h3>Coordinators</h3>
      <ul>
        <% @chapter.coordinators.each do |coordinator| %>
          <li><%= coordinator.user.name_with_username %></li>
        <% end %>
      </ul>
    <% else %>
      <h3>No Coordinators</h3>
    <% end %>
  </div>
</div>
