<% title @chapter.name %>
<% page_class 'two-column' %>

<%= content_for :admin_control_panel do %>
  <li><%= link_to "Edit Chapter", edit_chapter_path(@chapter) %></li>
  <% unless @location.is_country? %>
    <% geo = @location.is_territory? ? @location : @location.parent %>
    <li><%= link_to "Create #{geo.name} Subchapter", new_chapter_path(:location_id => geo.id, :category => 'subchapter') %></li>
  <% else %>
    <li><%= link_to "Create Territory Chapter", select_territory_for_new_chapters_path(:parent_id => @location.id) %></li>
  <% end %>
<% end %>

<%= content_for :page_head do %>
  <h1><%= @chapter.name %> chapter</h1>
  <% if user_signed_in? and current_user.chapter.nil? %>
    <ul class="actions">
      <li><%= button_to "Join this chapter", join_chapter_user_path(current_user, :chapter_id => @chapter.id), :method => :put %></li>
    </ul>
  <% end %>
<% end %>

<%= render '/shared/map' %>

<%= content_for :sidebar do %>
  <% if @chapter.coordinators.any? %>
    <section>
      <h1>Coordinators</h1>
      <ul>
        <% @chapter.coordinators.each do |coordinator| %>
          <li><%= coordinator.user.name_with_username %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <% if @links.any? %>
    <section>
      <h1>Links</h1>
      <ul>
        <% @links.each do |link| %>
          <li><%= link_to link.title, "http://#{link.url}", :target => '_blank' %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <% if @subchapters.any? %>
    <section>
      <h1>Chapters in<br /><%= @chapter.name %></h1>
      <ul>
        <% @subchapters.each do |chapter| %>
          <li><%= link_to chapter.name, chapter_path(chapter.name) %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <section class="last">
    <h1>Info</h1>
    <ul>
      <li><%= pluralize @chapter.users.count, 'Members' %></li>
    </ul>
  </section>
<% end %>
