<% title @chapter.name %>
<% page_class 'two-column' %>

<%= content_for :admin_control_panel do %>
  <li><%= link_to "Edit Chapter", edit_chapter_path(@chapter) %></li>
  <% unless @location.is_country? %>
    <% geo = @location.is_territory? ? @location : @location.parent %>
    <li><%= link_to "Create #{geo.name} Subchapter", new_chapter_path(:location_id => geo.id, :category => 'subchapter') %></li>
  <% else %>
    <li><%= link_to "Create Territory Chapter", select_territory_for_new_chapters_path(:parent_id => @location.id) %></li>
  <% end %>
<% end %>

<%= content_for :page_head, content_tag(:h1, "#{@chapter.name} #{@chapter.category} chapter") %>

<% if params[:view] == 'map' %>
  <%= render :partial => '/shared/map', :locals => {:map => @map} %>
  <%= link_to "Close", chapter_path(@chapter) %>
  <div id="map"></div>
<% else %>
  <%= link_to "Map", map_chapter_path(@chapter) %>
<% end %>

<%= content_for :sidebar do %>
  <% if @chapter.coordinators.any? %>
    <section>
      <h1>Coordinators</h1>
      <ul>
        <% @chapter.coordinators.each do |coordinator| %>
          <li><%= coordinator.user.name_with_username %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <section>
    <h1>Links(TODO)</h1>
    <ul>
      <li><a href="#">Website</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">Events</a></li>
    </ul>
  </section>
  <% if @subchapters.any? %>
    <section>
      <h1>Chapters in<br /><%= @chapter.name %></h1>
      <ul>
        <% @subchapters.each do |chapter| %>
          <li><%= link_to chapter.name, chapter_path(chapter) %></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <section class="last">
    <h1>Info</h1>
    <ul>
      <li><%= pluralize @chapter.users.count, 'Members' %></li>
    </ul>
  </section>
<% end %>
