<% title @chapter.name %>
<% page_class 'two-column' %>

<%= render :partial => '/shared/map', :locals => {:geo => @chapter.geographic_location, :events => false} %>

<% if current_user %>
  <% if current_user.chapter.nil? %>
    <%= content_for :user_control_panel do %>
      <%= form_for current_user, :method => :put do |f| %>
        <%= hidden_field :chapter, :id %>
        <%= f.submit "Join this chapter" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= content_for :admin_control_panel do %>
  <% unless @location.is_country? %>
    <% geo = @location.is_territory? ? @location : @location.parent %>
    <li><%= link_to "Create #{geo.name} Subchapter", new_chapter_path(:location_id => geo.id, :category => 'subchapter') %></li>
  <% else %>
    <li><%= link_to "Create Territory Chapter", geo_path(@chapter.geographic_location) %></li>
  <% end %>
<% end %>

<%= content_for :page_head, content_tag(:h1, "#{@chapter.name} #{@chapter.category} chapter") %>

<div id="map"></div>

<%= content_for :sidebar do %>
  <section>
    <h1>Coordinators</h1>
    <% if @chapter.coordinators.any? %>
      <ul>
        <% @chapter.coordinators.each do |coordinator| %>
          <li><%= coordinator.user.name_with_username %></li>
        <% end %>
      </ul>
    <% else %>
      <span class="empty">No Coordinators</span>
    <% end %>
  </section>
  <section>
    <h1>Links</h1>
    <ul>
      <li><a href="#">Website</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">Events</a></li>
    </ul>
  </section>
  <section class="last">
    <h1>Info</h1>
    <ul>
      <li><%= pluralize @chapter.users.count, 'Members' %></li>
    </ul>
  </section>
<% end %>
