<% title "Edit #{@site_option.key.titleize}" %>
<% page_class 'form' %>

<%= form_for @site_option do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
