<!DOCTYPE html>
<html>
<head>
  <title>TZM - <%= yield(:title) || 'The Zeitgeist Movement' %></title>
  <%= stylesheet_link_tag 'other/reset' %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'control_panel' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
  <div id="page">
    <%= render :partial => '/shared/header' %>
    <%= render :partial => '/shared/control_panel' %>
    <div id="body" class="container_24">
      <% flash.each do |name, message| %>
        <div class="flashparent"><%= content_tag :div, message, :class => "flash #{name}" %></div>
      <% end %>
      <%= yield %>
    </div>
    <%= render :partial => '/shared/footer' %>
  </div>
</body>
</html>
