<!DOCTYPE html>
<html>
<head>
  <title>TZM - <%= yield(:title) || 'The Zeitgeist Movement' %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'compiled/grid.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'compiled/text.css', :media => 'screen, projection' %>
  <%= csrf_meta_tag %>
  <%= yield :css %>
  <%= yield :head %>
</head>
<body>
  <% page_class = content_for?(:page_class) ? yield(:page_class) : "one-column" %>
  <div class="<%= page_class %>" id="page">

    <%= render :partial => '/shared/header' %>

    <div id="body">
      <%= content_tag :h1, yield(:title), :class => 'page_title' if show_title? %>
      <% if content_for? :sidebar %>
        <div id="sidebar"><%= yield(:sidebar) %></div>
      <% end %>

      <div class="container" id="content">
        <% flash.each do |name, message| %>
          <%= content_tag :div, :class => "flash #{name}" do %>
            <span><%= message %></span><span class="close">Close<span>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <%= render :partial => '/shared/footer' %>
    </div>
  </div>
  <div style="display:none;">
    <%= javascript_include_tag :defaults %>
    <%= yield :js %>
  </div>
</body>
</html>
