<!DOCTYPE html>
<html>
<head>
  <title>TZM - <%= yield(:title) || 'The Zeitgeist Movement' %></title>
  <%= stylesheet_link_tag 'compiled/grid',   :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'compiled/text',   :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'compiled/styles', :media => 'screen, projection' %>
  <%= csrf_meta_tag %>
  <%= yield :css %>
  <%= yield :head %>
</head>
<% page_class = content_for?(:page_class) ? yield(:page_class) : "one-column" %>
<body>
  <%= render '/shared/feedback' %>

  <div class="<%= page_class %>" id="page">

    <%= render :partial => '/shared/header' %>

    <div id="body">
      <div class="pagehead <%= yield(:page_head_class) %>">
        <%= yield(:page_head) %>
        <div class="rule"></div>
      </div>
      <% if content_for? :sidebar %>
        <div id="sidebar"><%= yield(:sidebar) %></div>
      <% end %>

      <div class="container" id="content">
        <% flash.each do |name, message| %>
          <%= content_tag :div, :class => "flash #{name}" do %>
            <span><%= message %></span><span class="close">Close<span>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <%= render :partial => '/shared/footer' %>
    </div>
  </div>
  <div style="display:none;">
    <%= javascript_include_tag :defaults %>
    <%= yield :js %>
  </div>
</body>
</html>
