<div class="member-container">
  
  <% if current_member == @member and (@member.alias.blank? or @member.name.blank?) %>
    <%= form_for current_member, :url => registration_path(current_member), :html => {:method => :put} do |f| %>
      <% if @member.name.blank? %>
        <div class="field">
          <%= f.label 'Set your name.' %><br />
          <%= f.text_field :name %>
        </div>
      <% end %>
      <% if @member.alias.blank? %>
        <div class="field">
          <%= f.label 'Set your alias.' %><br />
          <%= f.text_field :alias %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Update Info" %>
      </div>
    <% end %>
  <% end %>

  <div class="member">
    <h2><%= @member.name %></h2>
    <span class="info">
      <%= @member.alias %><br />
      <%= @country.name %>
    </span>
  </div>

  <div class="chapter">
    <h2><%= @chapter.region %></h2>
    <span class="info">
      <%= @country.name %><br />
      <%= pluralize @chapter.members_count, 'Member' %><br />
      Languages: <%= @country.languages %><br />
    </span>
    <p><%= @chapter.description %></p>
  </div>
  <div style="clear:both"></div>

</div>
